.rangeslider-wrapper {
}
.rangeslider-wrapper.horizontal {
}
.rangeslider-wrapper.vertical {
    width: 40px;
    height: 100%;
}
.rangeslider,
.rangeslider__fill {
    display: block;
}
.rangeslider {
    position: relative;
    width: 100%;
    height: 100%;
}
.rangeslider--horizontal {
}
.rangeslider--vertical {
    min-height: 150px;
    max-height: 100%;
}
.rangeslider--disabled {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
}
.rangeslider__fill {
}
.rangeslider--horizontal .rangeslider__fill {
    height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding
}
.rangeslider__handle {
    cursor: pointer;
    display: inline-block;
    position: absolute;
}
.rangeslider--horizontal .rangeslider__handle {
    top: 0;
    height: 100%;
    touch-action: pan-y;
    -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
    left: 0;
    width: 100%;
    touch-action: pan-x;
    -ms-touch-action: pan-x;
}
